*{
  margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;  
    box-sizing: border-box;

}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.container h2 {
    color: #fff; 
    font-size: 30px; 
    margin-top: 50px; 
    margin-bottom: 20px; 
    
    display: flex; 
    align-items: center; 
}
.container h2 img {
    width: 30px; 
    height: 30px;
    margin-left: 10px;
}
.todo-app{
    width: 100%;
    max-width: 600px;
    margin: 50px auto 20px;
    background: #fff;
    padding: 40px 30px 50px;
    border-radius: 50px;
    display: center;
    align-items: left; 
    justify-content: center; 
}
.todo-app h2{
    display: flex;
    color: #002765;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.row{
    border-radius: 50px;
    display: flex;
    height: 30px;  
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding-left: 20px;
    margin-bottom: 25px;  
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
}
button{
    border:none;
    outline: none;
    padding: 7.8px 20.8px ;
    background: #153677;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 15px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 13px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
ul li::before{
content: '';
position: absolute;
height: 28px;
width: 28px;
border-radius: 50%;
background-image: url(unchecked.png);
background-size: cover;
background-position: center;
top: 12px;
left: 8px;
}
ul li.checked{
    color: #555;                                                   
    text-decoration: line-through; 
}
ul li.checked::before{
    background-image: url(checked.png);
}
ul li span{
    position: absolute;
    right: 15px;
    top: 5px;
    height: 40px;
    width: 40px;
   font-size: 22px;
    color: #555;
   line-height: 40px;
   text-align: center;
   border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
    
}